@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import
	url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap')
	;

* {
	padding: 0;
	margin: 0;
}

.container {
	width: 80%;
}

a {
	color: #444 !important;
}

header a {
	color: #fff !important;
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
}

a, address, button, div, h1, h2, h3, h4, h5, h6, input, label, li, p,
	select, td, textarea, th, #search_box input::placeholder {
	font-family: "Nanum Gothic", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #4c4c4c;
}

legend {
	display: none;
}

li {
	list-style: none;
}
/* 헤더시작 */
#header_top, #header_content {
	background-color: #0daf91;
}

#header_content {
	overflow: hidden;
}

#header_content_box {
	overflow: hidden;
}

#header_content_box #header_left {
	margin-top: -14px;
	float: left;
}

header h1 {
	marign-top: 10px;
}

header h1 a {
	font-family: 'Baloo Tammudu', cursive;
	color: white;
	font-size: 26px;
	letter-spacing: 0.015em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

#header_content #search_box {
	margin-left: 30%;
	background-color: white;
	height: 33px;
	padding: 1px 0px 0px 15px;
	width: 300px;
	float: left;
	margin-top: 13px;
}

#header_content #search_box input {
	display: inline-block;
	height: 30px;
	border: none;
	margin-left: 5px;
	width: 250px;
	font-size: 14px;
	font-weight: 700;
	color: #555;
}

#header_content #search_box  #book_search_input:focus {
	outline: none;
}

#header_content #search_box input::placeholder {
	font-size: 14px;
	color: #0daf91;;
	font-weight: 700;
}

#header_content #search_box  #book_search_input:focus::placeholder {
	color: #add1ef;
}

#header_content #search_box span {
	position: relative;
	top: 2px;
}

#header_content #search_box i {
	color: #0daf91;
	display: inline-block;
}

#header_content #header_right {
	margin-top: 19px;
	float: right;
}

#header_content #header_right span {
	display: inline-block;
	margin-left: 10px;
}

#header_content #header_right a {
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

#header_middle {
	height: 44px;
	background-color: #484848;
	position: relative;
	border-bottom: 1px solid #e6e8eb;
}

#header_middle #header_middle_category button {
	display: inline-block;
	padding: 10px 0px;
	border: none;
	background-color: transparent;
	font-size: 15px;
	font-weight: 600;
	color: #efefef;
	float: left;
	text-align: left;
	width: 105px;
}

#header_middle #header_middle_category button:focus {
	outline: none;
}

#header_middle:after {
	display: inline-block;
	content: '';
	clear: both;
}

#header_middle_category {
	overflow: hidden;
}

#header_middle #header_middle_category span {
	display: inline-block;
	margin-right: 15px;
	position: relative;
	top: 1px;
	float: left;
}

#header_middle #header_middle_category span i {
	color: #efefef;
}

#header_middle #header_middle_category ul.admin_nav li {
	float: left;
	margin-top: 10px;
	margin-right: 40px;
}

#header_middle #header_middle_right li {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

#header_middle #header_middle_category ul li a, #header_middle #header_middle_right li a
	{
	font-size: 15px;
	color: #efefef;
}

#header_middle_box .admin_nav {
	float: left;
	margin-left: 29%;
}

#header_middle_box #header_middle_right {
	float: right;
}

/* content 영역*/
.admin_home_left {
	width: 77%;
	float: left;
}

.admin_home_left .brief_title {
	font-size: 14px;
	font-weight: 600;
	float: left;
	padding-left: 8px;
	color: #555;
}

.admin_brief {
	overflow: hidden;
	padding: 10px 5px 8px;
	border: 1px solid #ddd;
	border-top: none;
}

.admin_home_left .admin_brief p {
	float: left;
	margin-left: 7px;
}

.admin_home_right {
	width: 20.5%;
	float: left;
	margin-left: 2.5%;
	height: 100%;
	background: #ddd;
	padding: 10px;
}

.brief_content {
	margin-right: 15px;
	float: left;
}

.brief_subtitle {
	font-weight: 600;
	color: #525252;
	margin-right: 4px;
}

.brief_content p i {
	display: inline-block;
	padding: 0px 5px;
	border-radius: 5px;
	color: #0daf91;
	font-weight: 600;
	margin-right: 2px;
}

.admin_preview {
	position: relative;
	border: 1px solid #ddd;
	border-top: none;
	overflow: hidden;
}

.admin_preview>div {
	padding: 10px;
	border-right: 1px solid #ddd;
	height: 345px;
}

.admin_preview>div:first-child {
	width: 22%;
}

.admin_preview>div:nth-child(2) {
	width: 22%;
}

.admin_preview>div:nth-child(3) {
	width: 33%;
}

.admin_preview>div:last-child {
	width: 23%;
}

.admin_preview>div:last-child {
	border: none;
}

.admin_preview h2 {
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.admin_preview h2 i {
	display: block;
	font-size: 30px;
	margin-bottom: 15px;
}

.admin_preview span.more {
	position: absolute;
	right: 10px;
	top: 5px;
}

.admin_preview span.count {
	position: absolute;
	right: 29%;
	top: 15px;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 13px;
	background: #ff5252;
	color: white;
	font-weight: 600;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
}

.admin_preview>div:nth-child(3) span.count {
	right: 35%;
}

.admin_preview table {
	width: 95%;
	margin: 20px auto 0;
}

.admin_preview table th {
	padding: 7px 0;
	font-weight: 500;
	font-size: 13px;
}

.admin_preview table td {
	font-size: 13px;
	padding: 7px 0;
}

.admin_preview table a {
	font-weight: 600;
}

.admin_preview table.shipping_preview_table a, .admin_preview table.item_preview_table a
	{
	margin-right: 2px;
}

.shipping_preview_table, .item_preview_table {
	width: 82% !important;
}

.shipping_preview_table th, .item_preview_table th {
	padding-left: 10px !important;
}

.qna_preview_table th {
	color: #e6a62d;
}

.qna_preview_table a {
	font-weight: 500 !important;
}

.board_preview table {
	width: 100%;
	margin-top: 10px;
	padding: 0 3px;
}

.board_preview table th, .board_preview table td {
	padding: 3px 0;
}

.board_preview>div {
	border-top: 2px solid #0daf91;
	width: 31%;
	margin-right: 3.5%;
	padding: 0;
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.board_preview>div:last-child {
	margin-right: 0;
}

.board_preview h3 {
	margin: 13px 0;
	float: left;
	font-size: 17px;
	font-weight: 600;
}

.board_preview .fa-plus {
	float: right;
	margin-top: 14px;
}

.board_preview_title {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding: 0 5px;
}

.board_privew_content {
	padding: 0 5px;
}

.board_preview table tr td:last-child {
	text-align: right;
}

a.list-group-item, button.list-group-item {
	font-size: 13px;
}

.panel-body {
	padding: 0;
}

.list-group {
	margin: 0;
}

/* 아코디언 */
.panel:last-child {
	border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
	border-radius: 4px 4px 0 0;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel+.panel {
	margin-top: 0;
}

.panel-heading {
	background-color: #fff;
	border-radius: 0;
	border: none;
	color: #fff;
	padding: 0;
}

.panel-title a {
	display: block;
	color: #fff;
	padding: 12px 15px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
}

.panel-body {
	background: #fff;
}

.panel:last-child .panel-body {
	border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
	border-radius: 0 0 4px 4px;
	transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
	border-radius: 0;
	transition: border-radius linear 0s;
}

#accordion .panel-heading a:before {
	content: '\e316';
	font-size: 21px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 6px;
	transform: rotate(180deg);
	transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
	transform: rotate(0deg);
	transition: all 0.5s;
}

.panel:last-child .panel-heading {
	padding: 10px;
}

.admin_memo {
	margin-top: 15px;
}

.panel {
	background-color: #ddd;
}

.panel-title a {
	font-size: 14px;
	color: #444;
}

.admin_memo .panel-heading {
	padding: 0 !important;
	margin-bottom: 3px;
}

.memo_write {
	overflow: hidden;
	margin-bottom: 10px;
}

.memo_write textarea {
	width: 100%;
	height: 34px;
	padding: 6px;
}

.memo_write_box {
	width: 82%;
	margin-right: 3%;
	float: left;
	position: relative;
}

.memo_write a {
	width: 15%;
	float: right;
	padding: 8px;
	color: white !important;
	background: #888;
	text-align: center;
	font-size: 13px;
}

.memo_write i {
	position: absolute;
	right: 7px;
	top: 5px;
	color: #999;
	display: none;
}

.admin_memo .panel-body {
	padding: 10px 15px;
	height: 134px;
	overflow-y: scroll;
}

.admin_memo  nav {
	text-align: center;
}

.admin_memo  nav .pagination {
	margin: 0;
	margin-bottom: 20px;
}

.admin_memo .pagination>li>a {
	background: #ddd;
	padding: 6px 8px;
}

.admin_memo .panel-group {
	margin-bottom: 0;
}

/* 아이템 리스트 */
.admin_btn {
	margin-top: 12px;
	padding: 5px;
	font-size: 13px;
	color: white !important;
	font-weight: bold;
	color: white !important;
	font-weight: bold;
	background: #fb9023;
}

.admin_page_head {
	overflow: hidden;
	background: url(../images/tit_bg.gif) repeat-x;
	padding-bottom: 5px;
}

.admin_page_head h2 {
	float: left;
	margin-left: 43.5%;
	font-size: 23px;
	margin-top: 10px;
	font-weight: 600;
}

.admin_page_head a {
	float: right;
	margin-right: 10px;
}

.admin_item_list table {
	margin: 15px auto 0;
}

.admin_item_list table select {
	padding: 4px;
}

.admin_item_list table input[type=text] {
	padding: 2px;
}

.admin_item_list .btn {
	padding: 0;
}

.admin_item_list  .search-form-container {
	background: #f9fbfc;
	padding-bottom: 25px;
	border-bottom: 2px solid #ddd;
}

div.search-form-container table.search-form-table {
	margin: auto;
}

div.search-form-container table.sf-option-table th {
	height: 30px;
	text-align: left;
	vertical-align: middle;
	padding-right: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

div.search-form-container table.sf-option-table td {
	height: 30px;
	text-align: left;
	vertical-align: middle;
	padding-right: 0px;
	font-size: 12px;
	color: #555;
	padding: 5px;
}

div.search-form-container table.sf-keyword-table {
	width: 100%;
	border: 1px solid #0daf91;
	border-collapse: collapse;
	background-color: #fff;
	table-layout: fixed;
}

.admin_list_box table th {
	text-align: center;
	height: 28px;
	border-top: 1px solid #7f8180;
	border-bottom: 1px solid #7f8180;
	font-weight: normal;
	background: #f1f1f1;
	border-left: 1px solid #ccc;
}

div.search-form-container table.sf-keyword-table .sfk-td-txt {
	padding-right: 0px;
}

div.search-form-container table.sf-keyword-table .sfk-td-txt input {
	width: 100%;
	height: 30px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-color: #fff;
	line-height: 30px;
	text-align: center;
	color: #797d86;
}

div.search-form-container table.sf-keyword-table .sfk-td-btn {
	width: 45px;
	text-align: center;
}

div.search-form-container table.sf-keyword-table .sfk-td-btn button {
	width: 45px;
	height: 30px;
	border: 0px;
	background: #0daf91;
	cursor: pointer;
}

div.search-form-container table.sf-keyword-table .sfk-td-btn button span
	{
	color: white;
}

input.social_goods_group_name {
	width: 81px;
}

span.pd_td_right, span.pd_day {
	padding-left: 5px;
}

div.search-form-container table.sf-option-table ul {
	width: 100%;
}

div.skin-add-form table.sf-option-table  li {
	float: left;
	padding-right: 5px;
	height: 25px;
}

div.skin-add-form table.sf-option-table  li:first-child {
	width: 90px;
	padding-right: 0;
}

.admin_item_list input[type=button] {
	font-size: 12px;
	padding: 6px 7px;
	background: #fff;
	border: 1px solid #ddd;
}

.sf-option-table span {
	font-weight: 500;
}

.admin_item_list input[type=checkbox] {
	position: relative;
	top: 3px;
}

.admin_item_list label {
	margin-right: 5px;
}

.admin_list_box table {
	width: 100%;
	padding-top: 5px;
}

.admin_list_box table td, .admin_list_box table td a {
	font-size: 13px;
}

.admin_list_top {
	overflow: hidden;
}

.admin_list_top p {
	float: left;
	margin-bottom: 0;
}

.admin_list_top span {
	font-weight: 600;
}

.admin_select_list {
	float: right;
}

.admin_list_top {
	margin-top: 15px;
}

.img_detail_table {
	border: none !important;
}

.img_detail_table th, .img_detail_table td {
	border: none !important;
}

.item_list_table tbody tr {
	height: 80px;
}

/* 상품 등록 */
.item_category {
	margin-top: 30px;
}

.item_add_head {
	background: url(../images/bullet_tit_m.gif) no-repeat;
	padding-left: 25px;
	background-position: 0px 2px;
	height: 21px;
}

.item_add_head:after {
	display: block;
	clear: both;
	content: '';
}

.item_add_head h3 {
	font-size: 17px;
	font-weight: 600;
	float: left;
	margin: 0;
}

.item_add_head a {
	float: left;
	margin-left: 10px;
	padding: 3px 6px;
	border: 1px solid #ccc;
	position: relative;
	font-size: 13px;
	top: -4px;
}

.item_add_table {
	width: 100%;
	margin-top: 10px
}

.item_add_table th {
	text-align: center;
	background: #eee;
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 7px 0;
}

.item_add_table td {
	border: 1px solid #ddd;
	height: 55px;
}

.category_select {
	display: none;
	z-index: 10002;
	outline: 0px;
	position: absolute;
	height: auto;
	width: 800px;
	top: 30%;
	left: 30%;
	background: white;
	border: 1px solid #333;
}

.category_select_content {
	padding: 25px;
}

.category_select_title_box {
	overflow: hidden;
	margin-bottom: 20px;
	background: #555;
	padding: 8px 15px;
}

.category_select_title {
	float: left;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
}

.category_select_cancel {
	float: right;
	font-weight: bold;
}

.category_select_cancel span {
	color: #fff;
}

.category_select_btn {
	display: block;
	margin: 20px auto;
	background: #8a8a8a;
	color: white !important;
	padding: 5px 8px;
	width: 100px;
	text-align: center;
	font-weight: 600;
	margin-top: 25px;
}

#editor_select {
	width: 500px;
	left: 37%;
}

#publishing_select {
	width: 500px;
	left: 37%;
}

.admin_item_add .col-md-4 {
	padding: 0;
}

.item_basic_info {
	margin-top: 30px;
}

.item_category:after {
	display: block;
	clear: both;
	content: '';
}

.admin_item_add table {
	border-top: 1px solid #aaa;
	margin-top: 10px;
}

.admin_item_add table th {
	text-align: center;
	font-weight: normal;
	border-left: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 8px 0px 8px 0;
	background-color: #f1f1f1;
}

.admin_item_add table input[type=text], .admin_item_add table textarea{
	padding: 2px 5px;
	border: 1px solid #aaa;
}  
.admin_item_add table select{
	border-color: #aaa; 
	padding: 3px 0;
}
.admin_item_add table  td {
	border-left: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 9px 0 9px 15px;
}

.item_basic_info table th {
	
}

.index_list li {
	margin-bottom: 10px;
}

.admin_item_add {
	padding-bottom: 40px;
}

.index_add {
	padding: 2px 3px;
}

.item_sale_info {
	margin-top: 30px;
}

.item_radio {
	margin-right: 10px;
}

.item_radio input[type=radio] {
	position: relative;
	top: 2px;
}

.item_radio {
	font-weight: 500;
}


#item_price input, .direct_price {
	width: 70px;
}

.item_sale_info tr td:first-child {
	background: #f1f1f1;
	text-align: center;
}

.item_image {
	margin-top: 30px;
}

.item_image_table td {
	text-align: center;
}

.admin_item_add button,  .admin_item_add .index_add{
	padding: 5px;
	font-size: 13px;
	background: #fff;
	border: 1px solid #ddd; 
}

.item_image_table button {
	width: 140px;
}

form button.add_submit{
	text-align: center;
    display: block;
    width: 170px;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background: #0daf91;
    color: white !important;
}

.user_list_box table td {
	text-align: center;
}
a.admin_list_btn{
	display: block;
	padding: 2px 10px;
	border: 1px solid #ccc;
	font-size: 13px;
	margin: 3px 0;
}
.order_settle h4 {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0px 0px 13px;
}

.order_settle .settle dl {
	color: rgb(102, 102, 102);
	padding: 10px 15px;
}

.memberInfoTable {
	margin-top: 0 !important;
}

.memberInfoTable thead th {
	background: #53565f;
	font-family: 'Malgun Gothic';
	font-size: 13px;
	font-weight: bold;
	color: #ffffff;
	line-height: 30px;
}

.memberInfoTable th {
	padding: 3px;
}

.memberInfoWrap {
	border: 1px solid #d1d4d9;
	background: #e9edf0;
	position: relative;
}

.user_list_table {
	width: 300px;
}

.member_info_layer {
	position: absolute;
	display: none;
	right: 14.5%;
}

.layer_close {
	position: absolute;
	top: 3px;
	right: 10px;
	font-size: 17px;
	color: #fff;
}

.admin_item_list input[type=radio] {
	position: relative;
	top: 2px;
}

#user_list_table tbody tr {
	height: 53px;
}


/* 주문상세창 */
.order_settle {
	display: table;
	width: 100%;
	line-height: 1.8;
	border-bottom: 1px solid rgb(170, 170, 170);
}

.order_settle .benefit {
	display: table-cell;
	vertical-align: top;
	background: rgb(255, 255, 255);
}

.order_settle .settle {
	display: table-cell;
	width: 30%;
	vertical-align: top;
	background: rgb(249, 249, 249);
}

td.order_item_info {
	padding: 12px 0;
	padding-left: 12px;
}

td.order_item_info .item_select_option {
	padding: 0 10px;
	width: auto;
}

td.order_item_info>p, td.order_item_info .order_item_title {
	float: left;
}

.order_table {
	width: 100%;
	margin-top: 10px;
	border-top: 2px solid #087ddc;
}

.order_table th {
	text-align: center;
	background: #f0f8ff;
	padding: 6px 0;
	font-size: 14px;
}

.order_table tr {
	border-bottom: 1px solid #ddd;
}

.order_item_title .order_item_title_txt {
	padding: 5px 0;
}

.order_item_title .order_item_title_txt a {
	font-size: 15px;
	font-weight: 600;
}

.order_item_title .order_item_editor {
	font-size: 13px;
	position: relative;
	padding-right: 4px;
	margin-right: 7px;
}

.order_item_title {
	padding-left: 10px;
}

.order_item_price, .order_item_count, .order_item_mileage,
	.order_item_allPrice {
	text-align: center;
}

.ui-dialog-titlebar.ui-widget-header {
	background-image: none;
	background-color: #363636 !important;
	overflow: hidden;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
	color: white !important;
}

.ui-dialog a.ui-dialog-titlebar-close {
	right: 15px;
	padding: 0px;
	font-size: 18px;
	color: white !important;
	position: absolute;
}

.ui-helper-clearfix::before {
	display: table;
	content: "";
}

.order_detail_box {
	display: none;
	z-index: 10002;
	outline: 0px;
	position: absolute;
	height: auto;
	width: 1000px;
	top: 30px;
	left: 25%;
	height: 80%;
	border: 1px solid #4d4f55;
}

.ui-dialog .ui-dialog-content {
	padding: 20px;
	background-image: none;
	background-color: #fff;
}

.ui-dialog .ui-dialog-titlebar {
	position: relative;
	border: 0px;
	background-color: #484848 !important;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 15px;
}

.order_settle .benefit dl {
	padding: 10px 0px 0px 0px;
}

.pd10, .list_inner {
	padding: 10px !important;
}

.order_settle .benefit dl dt {
	float: left;
	display: table-cell;
	width: 13%;
	color: rgb(102, 102, 102);
}

.order_settle .benefit dl dd {
	float: left;
	width: 87%;
}

.order_btn {
	margin: 0 auto;
	display: block;
	width: 38px;
}

.order_list_table tbody tr {
	height: 60px;
}

#boardmain .fl,#boardmain .fr {
	width: 49.2%;
	margin: 30px 3px 0;
} 

.fl table, .fr table {
	margin: 0 !important;
	width: 100%;
}

.fl, .left-btns {
	float: left;
}

.fr, .right-btns {
	float: right;
}

.left-btns, .right-btns {
	position: relative;
	top: 10px;
}

.board_list .clearbox {
	margin-bottom: 8px;
	overflow: hidden;
	height: 29px;
}

.cboth {
	clear: both;
}

.center {
	text-align: center;
}

.pdl10 {
	padding-left: 10px !important;
}

.board_list table td {
	font-size: 13px;
	height: 38px;
}

.board_list table th {
	text-align: center;
	height: 30px;
	font-weight: normal;
}

.board_list table .date {
	font-size: 12px;
}

.board_list_tables tbody tr {
	height: 60px;
}

.board_list_tables td {
	font-size: 12.5px !important;
}

.board_list_tables select {
	margin: 3px 2px;
}

.admin_item_list .list-table-style tbody tr {
	border-bottom: 1px solid #ddd;
}

#page-title-bar-area #page-title-bar .page-title {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 48px;
	line-height: 54px;
	text-align: center;
	border-bottom: 2px solid #ccc;
	/* z-index: 1; */
}

#page-title-bar-area #page-title-bar .page-title h2 {
	display: inline;
	font-size: 17px;
	font-weight: bold;
	line-height: 48px;
}

#page-title-bar-area #page-title-bar .page-buttons-left {
	position: relative;
	float: left;
	padding-top: 8px;
	padding-left: 5px;
	z-index: 1;
}

#page-title-bar-area #page-title-bar .page-buttons-right {
	position: relative;
	float: right;
	padding-top: 8px;
	padding-right: 8px;
	z-index: 1;
}

table.bbsview_table_style thead th {
	height: 26px;
	font-weight: normal;
	float: left;
}

#page-title-bar-area #page-title-bar .page-buttons-right li {
	display: inline;
}

table.bbsview_table_style tbody td.cell {
	height: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
}
  
.ui-widget-content {
	border: 1px solid #cccccc;
	background: #f9f9f9;
	color: #222222;
}

.board_list_view {
	position: absolute;
	overflow: hidden;
	display: block;
	z-index: 1002;
	outline: 0px;
	height: auto;
	width: 90%;
	top: 40px;
	left: 97px;
}
.board_list_view button{
	font-size: 12px;
	padding:3px 5px;
	color: white;
	background: #444;
	border:none;
}

.board_list_view tr{
	border-bottom: 1px solid #ddd;
}
.board_list_info tr{
	border:none !important;
}
#boardview .content {
    padding: 10px 5px;
    line-height: 1.4;
}
#board_view_form{
	position: relative;
}
.page-buttons-right .btn{
	padding: 0 !important;
}
#boardmain table th {
    text-align: center;
    height: 28px;
    border-top: 1px solid #7f8180;
    border-bottom: 1px solid #7f8180;
    font-weight: normal;
    background: #f1f1f1;
    border-left: 1px solid #ccc;
}
#writeform{
	display: none;
	
} 
#writeform #page-title-bar-area .page-buttons-left li{
	float: left;
}
#writeform #page-title-bar-area .page-buttons-left li .btn{
	padding:0 !important;
	margin-right: 5px; 
} 
.note-btn-group>button{
	background: white !important;
	color: #333 !important;
}
/* 게시판 목록 */ 
@media ( max-width : 1600px) {
	.container {
		width: 100%
	}
	.member_info_layer {
		right: 6%;
	}
}
/* 관리자 로그인 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-page .form input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  #0daf91;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page .form button:hover,.form button:active,.form button:focus {
  background: #0daf91;
}
.login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
} 
.login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-page .form .register-form {
  display: none;
}
.login-page {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
}
.login-page:before, .login-page:after {
  content: "";
  display: block;
  clear: both;
}
.login-page .info {
  margin: 50px auto;
  text-align: center;
}
.login-page .info h1 {
  margin: 0 0 15px;
  padding: 0; 
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login-page .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login-page .info span a {
  color: #000000;
  text-decoration: none;
}
.login-page .info span .fa {
  color: #EF3B3A;
}

