@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import
	url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap')
	;

*{
	padding: 0;
	margin: 0;
}

.container {
	width: 80%;
}

a {
	color: #444 !important;
}

header a {
	color: #fff !important;
}

@media ( max-width : 1600px) {
	.container {
		width: 100%
	}
}

::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
}

a, address, button, div, h1, h2, h3, h4, h5, h6, input, label, li, p,
	select, td, textarea, th, #search_box input::placeholder {
	font-family: "Nanum Gothic", sans-serif;
	letter-spacing: -.03em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #4c4c4c;
}

legend {
	display: none;
}

li {
	list-style: none;
}
/* 헤더시작 */
#header_top, #header_content {
	background-color: #0daf91;
}

#header_content {
	overflow: hidden;
}

#header_content_box {
	overflow: hidden;
}

#header_content_box #header_left {
	margin-top: -14px;
	float: left;
}

header h1 {
	marign-top: 10px;
}

header h1 a {
	font-family: 'Baloo Tammudu', cursive;
	color: white;
	font-size: 26px;
	letter-spacing: 0.015em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

#header_content #search_box {
	margin-left: 27%;
	background-color: white;
	height: 33px;
	padding: 1px 0px 0px 15px;
	width: 300px;
	float: left;
	margin-top: 13px;
}

#header_content #search_box input {
	display: inline-block;
	height: 30px;
	border: none;
	margin-left: 5px;
	width: 250px;
	font-size: 14px;
	font-weight: 700;
	color: #555;
}

#header_content #search_box  #book_search_input:focus {
	outline: none;
}

#header_content #search_box input::placeholder {
	font-size: 14px;
	color: #0daf91;;
	font-weight: 700;
}

#header_content #search_box  #book_search_input:focus::placeholder {
	color: #add1ef;
}

#header_content #search_box span {
	position: relative;
	top: 2px;
}

#header_content #search_box i {
	color: #0daf91;
	display: inline-block;
}

#header_content #header_right {
	margin-top: 19px;
	float: right;
}

#header_content #header_right span {
	display: inline-block;
	margin-left: 10px;
}

#header_content #header_right a {
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

#header_middle {
	height: 44px;
	background-color: #484848;
	position: relative;
	border-bottom: 1px solid #e6e8eb;
}

#header_middle #header_middle_category button {
	display: inline-block;
	padding: 10px 0px;
	border: none;
	background-color: transparent;
	font-size: 15px;
	font-weight: 600;
	color: #efefef;
	float: left;
	text-align: left;
	width: 105px;
}

#header_middle #header_middle_category button:focus {
	outline: none;
}

#header_middle:after {
	display: inline-block;
	content: '';
	clear: both;
}

#header_middle_category {
	overflow: hidden;
}

#header_middle #header_middle_category span {
	display: inline-block;
	margin-right: 15px;
	position: relative;
	top: 1px;
	float: left;
}

#header_middle #header_middle_category span i {
	color: #efefef;
}

#header_middle #header_middle_category ul.admin_nav li {
	float: left;
	margin-top: 10px;
	margin-right: 40px;
}

#header_middle #header_middle_right li {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}

#header_middle #header_middle_category ul li a, #header_middle #header_middle_right li a
	{
	font-size: 15px;
	color: #efefef;
}

#header_middle_box .admin_nav {
	float: left;
	margin-left: 26%;
}

#header_middle_box #header_middle_right {
	float: right;
}

/* content 영역*/
.admin_home_left {
	width: 77%;
	float: left;
}

.admin_home_left .brief_title {
	font-size: 14px;
	font-weight: 600;
	float: left;
	padding-left: 8px;
	color: #555;
}

.admin_brief {
	overflow: hidden;
	padding: 10px 5px 8px;
	border: 1px solid #ddd;
	border-top: none;
}

.admin_home_left .admin_brief p {
	float: left;
	margin-left: 7px;
}

.admin_home_right {
	width: 20.5%;
	float: left;
	margin-left: 2.5%;
	height: 100%;
	background: #ddd;
	padding: 10px;
}

.brief_content {
	margin-right: 15px;
	float: left;
}

.brief_subtitle {
	font-weight: 600;
	color: #525252;
	margin-right: 4px;
}

.brief_content p i {
	display: inline-block;
	padding: 0px 5px;
	border-radius: 5px;
	color: #0daf91;
	font-weight: 600;
	margin-right: 2px;
}

.admin_preview {
	position: relative;
	border: 1px solid #ddd;
	border-top: none;
	overflow: hidden;
}

.admin_preview>div {
	padding: 10px;
	border-right: 1px solid #ddd;
	height: 345px;
}

.admin_preview>div:first-child {
	width: 22%;
}

.admin_preview>div:nth-child(2) {
	width: 22%;
}

.admin_preview>div:nth-child(3) {
	width: 33%;
}

.admin_preview>div:last-child {
	width: 23%;
}

.admin_preview>div:last-child {
	border: none;
}

.admin_preview h2 {
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

.admin_preview h2 i {
	display: block;
	font-size: 30px;
	margin-bottom: 15px;
}

.admin_preview span.more {
	position: absolute;
	right: 10px;
	top: 5px;
}

.admin_preview span.count {
	position: absolute;
	right: 29%;
	top: 15px;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 13px;
	background: #ff5252;
	color: white;
	font-weight: 600;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
}

.admin_preview>div:nth-child(3) span.count {
	right: 35%;
}

.admin_preview table {
	width: 95%;
	margin: 20px auto 0;
}

.admin_preview table th {
	padding: 7px 0;
	font-weight: 500;
	font-size: 13px;
}

.admin_preview table td {
	font-size: 13px;
	padding: 7px 0;
}

.admin_preview table a {
	font-weight: 600;
}

.admin_preview table.shipping_preview_table a, .admin_preview table.item_preview_table a
	{
	margin-right: 2px;
}

.shipping_preview_table, .item_preview_table {
	width: 82% !important;
}

.shipping_preview_table th, .item_preview_table th {
	padding-left: 10px !important;
}

.qna_preview_table th {
	color: #e6a62d;
}

.qna_preview_table a {
	font-weight: 500 !important;
}

.board_preview table {
	width: 100%;
	margin-top: 10px;
	padding: 0 3px;
}

.board_preview table th, .board_preview table td {
	padding: 3px 0;
}

.board_preview>div {
	border-top: 2px solid #0daf91;
	width: 31%;
	margin-right: 3.5%;
	padding: 0;
	margin-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.board_preview>div:last-child {
	margin-right: 0;
}

.board_preview h3 {
	margin: 13px 0;
	float: left;
	font-size: 17px;
	font-weight: 600;
}

.board_preview .fa-plus {
	float: right;
	margin-top: 14px;
}

.board_preview_title {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding: 0 5px;
}

.board_privew_content {
	padding: 0 5px;
}

.board_preview table tr td:last-child {
	text-align: right;
}

a.list-group-item, button.list-group-item {
	font-size: 13px;
}

.panel-body {
	padding: 0;
}

.list-group {
	margin: 0;
}

/* 아코디언 */
.panel:last-child {
	border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
	border-radius: 4px 4px 0 0;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel+.panel {
	margin-top: 0;
}

.panel-heading {
	background-color: #fff;
	border-radius: 0;
	border: none;
	color: #fff;
	padding: 0;
}

.panel-title a {
	display: block;
	color: #fff;
	padding: 12px 15px;
	position: relative;
	font-size: 16px;
	font-weight: 400;
}

.panel-body {
	background: #fff;
}

.panel:last-child .panel-body {
	border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
	border-radius: 0 0 4px 4px;
	transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
	border-radius: 0;
	transition: border-radius linear 0s;
}

#accordion .panel-heading a:before {
	content: '\e316';
	font-size: 21px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 6px;
	transform: rotate(180deg);
	transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
	transform: rotate(0deg);
	transition: all 0.5s;
}

.panel:last-child .panel-heading {
	padding: 10px;
}

.admin_memo {
	margin-top: 15px;
}

.panel {
	background-color: #ddd;
}

.panel-title a {
	font-size: 14px;
	color: #444;
}

.admin_memo .panel-heading {
	padding: 0 !important;
	margin-bottom: 3px;
}

.memo_write {
	overflow: hidden;
	margin-bottom: 10px;
}

.memo_write textarea {
	width: 100%;
	height: 34px;
	padding: 6px;
}

.memo_write_box {
	width: 82%;
	margin-right: 3%;
	float: left;
	position: relative;
}

.memo_write a {
	width: 15%;
	float: right;
	padding: 8px;
	color: white !important;
	background: #888;
	text-align: center;
	font-size: 13px;
}

.memo_write i {
	position: absolute;
	right: 7px;
	top: 5px;
	color: #999;
	display: none;
}

.admin_memo .panel-body {
	padding: 10px 15px;
	height: 134px;
	overflow-y: scroll;
}

.admin_memo  nav {
	text-align: center;
}

.admin_memo  nav .pagination {
	margin: 0;
	margin-bottom: 20px;
}

.admin_memo .pagination>li>a {
	background: #ddd;
	padding: 6px 8px;
}

.admin_memo .panel-group {
	margin-bottom: 0;
}

/* 아이템 리스트 */
.admin_item_list table {
	margin: 15px auto 0;
}

.admin_item_list table select {
	padding: 4px;
}

.admin_item_list table input[type=text] {
	padding: 2px;
}

.admin_item_list .btn {
	padding: 0;
}

.admin_item_list  .search-form-container {
	background: #f9fbfc;
	padding-bottom: 25px;
	border-bottom: 2px solid #ddd;
	
}

div.search-form-container table.search-form-table {
	margin: auto;
}

div.search-form-container table.sf-option-table th {
	height: 30px;
	text-align: left;
	vertical-align: middle;
	padding-right: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #333;
}

div.search-form-container table.sf-option-table td {
	height: 30px;
	text-align: left;
	vertical-align: middle;
	padding-right: 0px;
	font-size: 12px;
	color: #555;
	padding: 5px;
}

div.search-form-container table.sf-keyword-table {
	width: 100%;
	border: 1px solid #0daf91;
	border-collapse: collapse;
	background-color: #fff;
	table-layout: fixed;
}
.admin_item_list_box table th{
	text-align: center;
	padding: 9px 0;
	background: #eee;
}

div.search-form-container table.sf-keyword-table .sfk-td-txt {
	padding-right: 0px;
}

div.search-form-container table.sf-keyword-table .sfk-td-txt input {
	width: 100%;
	height: 30px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-color: #fff;
	line-height: 30px;
	text-align: center;
	color: #797d86;
}

div.search-form-container table.sf-keyword-table .sfk-td-btn {
	width: 45px;
	text-align: center;
}

div.search-form-container table.sf-keyword-table .sfk-td-btn button {
	width: 45px;
	height: 30px;
	border: 0px;
	background: #0daf91;
	cursor: pointer;
}

div.search-form-container table.sf-keyword-table .sfk-td-btn button span
	{
	color: white;
}

input.social_goods_group_name {
	width: 81px;
}

span.pd_td_right, span.pd_day {
	padding-left: 5px;
}

div.search-form-container table.sf-option-table ul {
	width: 100%;
}

div.skin-add-form table.sf-option-table  li {
	float: left;
	padding-right: 5px;
	height: 25px;
}

div.skin-add-form table.sf-option-table  li:first-child {
	width: 90px;
	padding-right: 0;
}

.admin_item_list input[type=button] {
	font-size: 11px;
    padding: 6px 7px;
    background: #fff;
    border: 1px solid #ddd;
}

.sf-option-table span {
	font-weight: 500;
}

.admin_item_list input[type=checkbox] {
	position: relative;
	top: 3px;
}

.admin_item_list label {
	margin-right: 5px;
}
.admin_item_list_box table{
	width: 100%;
	padding-top:5px;
} 
.admin_item_list_box table td, .admin_item_list_box table td a{
	font-size: 13px;
}
.admin_item_list_top {
	overflow: hidden;
}
.admin_item_list_top p{
	float:left;
	margin-bottom: 0;
}
.admin_item_list_top span{
	font-weight: 600;
}
.admin_select_list {
	float: right;
}
.admin_item_list_top{
	margin-top: 15px;
}

/* 관리자 회원 관리 */
.admin_item_list input[type=radio]{
	position: relative;
	top:2px;
}

 input[type=radio]